{{>partial_header}}

import datetime

from django.db import models
from django.utils import timezone
{{#models}}
{{#model}}
{{{vendorExtensions.modelImports}}}
{{#vendorExtensions.x-codegen-viewmodel}}
class {{classname}}(models.Model):	    
{{#vars}}    {{name}} = {{{vendorExtensions.modelDatatype}}}   
{{/vars}}
    class Meta:
      abstract = True
{{/vendorExtensions.x-codegen-viewmodel}}
{{^vendorExtensions.x-codegen-viewmodel}}
from auditable.models import Auditable

class {{classname}}(Auditable):	    
{{#vars}}    {{name}} = {{{vendorExtensions.modelDatatype}}}   
{{/vars}}
    class Meta:
        db_table = '{{vendorExtensions.tableName}}'

{{/vendorExtensions.x-codegen-viewmodel}}
{{/model}}
{{/models}}
