{{>partial_header}}

import datetime

from django.db import models
from django.utils import timezone
{{#models}}
{{#model}}
{{{vendorExtensions.modelImports}}}

class {{classname}}(models.Model):	    
{{#vars}}    {{name}} = {{{vendorExtensions.modelDatatype}}}   
{{/vars}}
{{#vendorExtensions.x-codegen-viewmodel}}
    class Meta:
      abstract = True
{{/vendorExtensions.x-codegen-viewmodel}}{{/model}}
{{/models}}
