{{>partial_header}}

import datetime

from django.db import models
from django.utils import timezone
{{#models}}
{{#model}}
{{{vendorExtensions.modelImports}}}

class {{classname}}(models.Model):	    
{{#vars}}    {{name}} = {{{vendorExtensions.modelDatatype}}}   
{{/vars}}
{{/model}}
{{/models}}
